<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Manga List</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
	</head>
	<body>
		<div>
			<img src="<%= session.profilePicPath %>" alt="Profile Picture" style="width: 40px" />
			<p>Hey <%= session.fullName %></p>
			<p><a href="/login/out">Log Out</a></p>
		</div>

		<div>
			<h1>Manga List</h1>
		</div>

		<% if (session.isAdmin) { %>
		<div>
			<button><a href="/main/mangas/add">Add Manga</a></button>
		</div>
		<% } %>

		<div>
			<button><a href="/main/mylist/all">My List</a></button>
			<button><a href="/main/mangas/hot">Hot Manga</a></button>
			<button><a href="/main/mangas">All</a></button>
		</div>

		<table>
			<thead>
				<tr>
					<th>ID</th>
					<th>Title</th>
					<th>Author</th>
					<th>Artist</th>
					<th>Year Published</th>
					<th>Publication Status</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<% mangas.forEach((el) => { %>
				<tr>
					<td><%= el.id %></td>
					<td><a href="/main/mangas/comment/<%= el.id %>"><%= el.name %></a></td>
					<td><%= el.author %></td>
					<td><%= el.artist %></td>
					<td><%= el.yearPublished %></td>
					<td><%= el.publicationStatus %></td>
					<td>
						<a href="/main/mylist/add/<%= el.id %>">Add</a>
						<% if (session.isAdmin) { %> |
						<a href="/main/mangas/delete/<%= el.id %>">Delete</a> |
						<a href="/main/mangas/edit/<%= el.id %>">Edit</a>
						<% } %>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>
	</body>
</html>
