<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My List</title>
	</head>
	<body>
		<div>
			<h1><%= user[0].firstName %>'s List of Manga</h1>
		</div>

		<table>
			<thead>
				<tr>
					<th>Title</th>
					<th>Author</th>
					<th>Artist</th>
					<th>Year Published</th>
					<th>Publication Status</th>
					<th>Status</th>
					<th>Chapter</th>
					<th>Volume</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<% mangas.forEach((el) => { %>
				<tr>
					<td><%= el.name %></td>
					<td><%= el.author %></td>
					<td><%= el.artist %></td>
					<td><%= el.yearPublished %></td>
					<td><%= el.publicationStatus %></td>
					<td><%= el.MangaUser.status %></td>
					<td>
						<%= el.MangaUser.chapter %> |
						<button>
							<a
								href="/main/mylist/addchapter?chapter=<%= el.MangaUser.chapter %>&MangaId=<%= el.MangaUser.MangaId %>&UserId=<%= el.MangaUser.UserId %>"
								>+</a
							>
						</button>
					</td>
					<td>
						<%= el.MangaUser.volume %> |
						<button>
							<a
								href="/main/mylist/addvolume?volume=<%= el.MangaUser.volume %>&MangaId=<%= el.MangaUser.MangaId %>&UserId=<%= el.MangaUser.UserId %>"
								>+</a
							>
						</button>
					</td>
					<td>
						<button>
							<a
								href="/main/mylist/delete?MangaId=<%= el.MangaUser.MangaId %>&UserId=<%= el.MangaUser.UserId %>"
								>Delete</a
							>
						</button>
					</td>
				</tr>
				<% }) %>
			</tbody>
		</table>

		<div>
			<a href="/main/mangas">Back</a>
		</div>
	</body>
</html>
